# Python cache files
__pycache__/
*.py[cod]
*.class

# Ignore all CSV files EXCEPT these specific ones
*.csv
!data/hist_iv_analysis.csv
!data/vol_premium.csv

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store

# Ignore README.md during local development
# This allows GitHub Actions to update the README daily
README.md